<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>FIR Parser</title>
    <link rel="stylesheet" href="/public/style.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
</head>

<body>
    <ul>
        <li><a href="info.html">INFO</a></li>
        <li><a href="uplode.html">UPLODE</a></li>
        <li><a href="result.html">RESULT</a></li>
        <li><a href="translate.html">TRANSLATE</a></li>
    </ul>
    <h1 class="Title">FIR PARSER</h1>
    <input class="button" type="file" id="inpFile">
    <button class="button" type="button" id="btnUpload">Upload</button>
    <br>
    <br>
    <textarea style="width: 300px; height: 150px;" id="resultText"
        placeholder="Your PDF text will appear here..."></textarea>
    <script>


        const inpFile = document.getElementById("inpFile");
        const btnUpload = document.getElementById("btnUpload");
        const resultText = document.getElementById("resultText");

        btnUpload.addEventListener("click", () => {
            const formData = new FormData();

            formData.append("pdfFile", inpFile.files[0]);

            fetch("/extract-text", {
                method: "post",
                body: formData
            }).then(response => {
                return response.text();
            }).then(extractedText => {
                resultText.value = extractedText.trim();
                this.pdfText = resultText.value
            });
        });
    </script>
    <section id="info">
        <!--this section will contain information about the prblm statemtn(basically github readme file)-->
    </section>
    <section id="Uplode">
        <!--a page for uploding the FIR pdfs and it should be linked with the ocr API -->
    </section>
    <section id="result">
        <!-- to display the final json output file-->
    </section>
    <section id="translate">
        <!-- using the Api transliterate the regional pdfs-->
    </section>
    <footer></footer>
</body>

</html>